# Operating System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Local env files
.env
.env.local

# Netlify
.netlify/

# Vercel
.vercel/

# CSV working files
*.csv

# Next.js
/.next/
/out/
next-env.d.ts
.next

# Dependencies
/node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
